<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>


<body class="bg-dark text-light">
    <div class="container-fluid text-center my-5">
        <div class="h1 my-2">Welcome to the Great Number Game!</div>
        <div class="fs-3 my-2"> 
            <p>I am thinking of a number between 1 and 100</p>
            <p>Take a guess</p>
        </div>

        <div class="result my-2 col-4 offset-md-4">
                
        </div>

        <form onSubmit="updatePage(event)" class="my-2 col-2 offset-md-5">
            <input type="text" class="form-control" name="guess">
            <input name="button" type="submit" class="my-3 btn btn-primary">

        </form>

        

    </div>
    <script src="./../static/js/main.js"}}></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>